@page
@model MusicPlayer.Pages.Playlists.IndexModel
@{    ViewData["Title"] = "Created playlists";   }
<h1>Index</h1>
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Playlist[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Playlist) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-page="../Songs/Index" asp-route-id="@item.PlaylistId">Edit</a>
                <a asp-page="./Delete" asp-route-id="@item.PlaylistId">Delete</a>
            </td>
        </tr> }
    </tbody>
</table>
